<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkTune</title>
    <link rel="stylesheet" href="/static/dist/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>
<body class="bg-deep-purp h-screen flex flex-col items-center text-nuxt-pink">
    <img src="../static/img/logo2.png" alt="LinkTune logo" width="300" height="300" class="pt-28">
    <header>
        <h1 class="text-9xl font-Praise pb-8">LinkTune</h1>
    </header>
    <main class="">
        <section class="pb-8 text-nuxt-pink">
            <p id ="info" class="text-5xl pb-8 font-DMSans"></p>
            <div class="relative mx-auto bg-gradient-to-r from-pink-300 to-cyan-300 w-[45rem] h-16 rounded-full pl-10">
                <input class="text-3xl outline-none bg-transparent text-slate-900 w-[43rem] h-16 pr-20" type="text" id="url" placeholder="enter URL to convert">
                <button id="convert" class="absolute inset-y-0 right-0 flex items-center pr-4">
                    <img src="../static/img/convert-icon.svg" class="w-[3rem] h-[3rem]">
                </button>
              </div>
        </section>
        <div class="justify-center font-DMSans">
            <ul id="results" class="mx-auto max-w-md divide-y divide-fuchsia-300">
                <!-- results populate here -->
            </ul>
        </div>
    </main>
    <script src="../static/js/index.js"></script>
</body>
</html>